In [234]:
import sys
sys.path.append('../../../kaggleLibrary')

from judeKaggleLibrary import load_data, create_csv

In [235]:
train_df, test_df = load_data("spaceship-titanic")

In [236]:
test_df.show()

+-----------+----------+---------+------+-----------+----+-----+-----------+---------+------------+------+------+-----------------+
|PassengerId|HomePlanet|CryoSleep| Cabin|Destination| Age|  VIP|RoomService|FoodCourt|ShoppingMall|   Spa|VRDeck|             Name|
+-----------+----------+---------+------+-----------+----+-----+-----------+---------+------------+------+------+-----------------+
|    0013_01|     Earth|     true| G/3/S|TRAPPIST-1e|27.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|  Nelly Carsoning|
|    0018_01|     Earth|    false| F/4/S|TRAPPIST-1e|19.0|false|        0.0|      9.0|         0.0|2823.0|   0.0|   Lerome Peckers|
|    0019_01|    Europa|     true| C/0/S|55 Cancri e|31.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|  Sabih Unhearfus|
|    0021_01|    Europa|    false| C/1/S|TRAPPIST-1e|38.0|false|        0.0|   6652.0|         0.0| 181.0| 585.0| Meratz Caltilter|
|    0023_01|     Earth|    false| F/5/S|TRAPPIST-1e|20.0|false|       10.0|      0.0|       635.0|   0.0|   0.0|  Brence Harperez|
|    0027_01|     Earth|    false| F/7/P|TRAPPIST-1e|31.0|false|        0.0|   1615.0|       263.0| 113.0|  60.0|     Karlen Ricks|
|    0029_01|    Europa|     true| B/2/P|55 Cancri e|21.0|false|        0.0|     NULL|         0.0|   0.0|   0.0|  Aldah Ainserfle|
|    0032_01|    Europa|     true| D/0/S|TRAPPIST-1e|20.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|   Acrabi Pringry|
|    0032_02|    Europa|     true| D/0/S|55 Cancri e|23.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|    Dhena Pringry|
|    0033_01|     Earth|    false| F/7/S|55 Cancri e|24.0|false|        0.0|    639.0|         0.0|   0.0|   0.0|Eliana Delazarson|
|    0037_01|     Earth|    false| F/9/S|TRAPPIST-1e|19.0|false|      339.0|      3.0|       136.0| 237.0|   0.0|    Vivia Rickson|
|    0040_01|    Europa|    false| D/2/P|TRAPPIST-1e|45.0|false|      932.0|     74.0|        NULL|   7.0|1010.0| Antino Pinoffent|
|    0040_02|    Europa|    false| D/2/P|TRAPPIST-1e|44.0|false|        0.0|   1561.0|         0.0|  14.0| 224.0|  Jihda Pinoffent|
|    0042_01|      Mars|     true| E/0/P|TRAPPIST-1e|46.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|      Hamus Frit√©|
|    0046_01|     Earth|    false| G/4/P|TRAPPIST-1e|21.0|false|        0.0|      0.0|         0.0|1687.0|  92.0|    Neilda Powery|
|    0046_02|     Earth|    false|F/11/P|TRAPPIST-1e|27.0|false|        0.0|      0.0|         0.0| 903.0|  NULL|     Glene Powery|
|    0046_03|     Earth|    false|F/11/P|TRAPPIST-1e|20.0|false|        2.0|     12.0|       253.0| 457.0| 690.0|    Joanny Powery|
|    0047_01|    Europa|     true| B/0/S|TRAPPIST-1e|44.0|false|        0.0|      0.0|         0.0|   0.0|   0.0| Winonon Prucerod|
|    0047_02|    Europa|    false|  NULL|TRAPPIST-1e|29.0|false|        0.0|   7708.0|       243.0| 569.0| 343.0|   Muons Prucerod|
|    0047_03|    Europa|    false| B/0/S|TRAPPIST-1e|40.0|false|       26.0|   1925.0|         8.0|3144.0|  63.0|             NULL|
+-----------+----------+---------+------+-----------+----+-----+-----------+---------+------------+------+------+-----------------+
only showing top 20 rows

In [237]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import countDistinct

train_df.show()

train_df.describe().show()

# Count unique values for each column
for column in train_df.columns:
    unique_count = train_df.agg(countDistinct(column).alias(column)).collect()[0][column]
    print(f"Number of unique values in {column}: {unique_count}")

+-----------+----------+---------+-----+-------------+----+-----+-----------+---------+------------+------+------+------------------+-----------+
|PassengerId|HomePlanet|CryoSleep|Cabin|  Destination| Age|  VIP|RoomService|FoodCourt|ShoppingMall|   Spa|VRDeck|              Name|Transported|
+-----------+----------+---------+-----+-------------+----+-----+-----------+---------+------------+------+------+------------------+-----------+
|    0001_01|    Europa|    false|B/0/P|  TRAPPIST-1e|39.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|   Maham Ofracculy|      false|
|    0002_01|     Earth|    false|F/0/S|  TRAPPIST-1e|24.0|false|      109.0|      9.0|        25.0| 549.0|  44.0|      Juanna Vines|       true|
|    0003_01|    Europa|    false|A/0/S|  TRAPPIST-1e|58.0| true|       43.0|   3576.0|         0.0|6715.0|  49.0|     Altark Susent|      false|
|    0003_02|    Europa|    false|A/0/S|  TRAPPIST-1e|33.0|false|        0.0|   1283.0|       371.0|3329.0| 193.0|      Solam Susent|      false|
|    0004_01|     Earth|    false|F/1/S|  TRAPPIST-1e|16.0|false|      303.0|     70.0|       151.0| 565.0|   2.0| Willy Santantines|       true|
|    0005_01|     Earth|    false|F/0/P|PSO J318.5-22|44.0|false|        0.0|    483.0|         0.0| 291.0|   0.0| Sandie Hinetthews|       true|
|    0006_01|     Earth|    false|F/2/S|  TRAPPIST-1e|26.0|false|       42.0|   1539.0|         3.0|   0.0|   0.0|Billex Jacostaffey|       true|
|    0006_02|     Earth|     true|G/0/S|  TRAPPIST-1e|28.0|false|        0.0|      0.0|         0.0|   0.0|  NULL|Candra Jacostaffey|       true|
|    0007_01|     Earth|    false|F/3/S|  TRAPPIST-1e|35.0|false|        0.0|    785.0|        17.0| 216.0|   0.0|     Andona Beston|       true|
|    0008_01|    Europa|     true|B/1/P|  55 Cancri e|14.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|    Erraiam Flatic|       true|
|    0008_02|    Europa|     true|B/1/P|  TRAPPIST-1e|34.0|false|        0.0|      0.0|        NULL|   0.0|   0.0|    Altardr Flatic|       true|
|    0008_03|    Europa|    false|B/1/P|  55 Cancri e|45.0|false|       39.0|   7295.0|       589.0| 110.0| 124.0|     Wezena Flatic|       true|
|    0009_01|      Mars|    false|F/1/P|  TRAPPIST-1e|32.0|false|       73.0|      0.0|      1123.0|   0.0| 113.0|      Berers Barne|       true|
|    0010_01|     Earth|    false|G/1/S|  TRAPPIST-1e|48.0|false|      719.0|      1.0|        65.0|   0.0|  24.0|    Reney Baketton|      false|
|    0011_01|     Earth|    false|F/2/P|  TRAPPIST-1e|28.0|false|        8.0|    974.0|        12.0|   2.0|   7.0|   Elle Bertsontry|       true|
|    0012_01|     Earth|    false| NULL|  TRAPPIST-1e|31.0|false|       32.0|      0.0|       876.0|   0.0|   0.0|     Justie Pooles|      false|
|    0014_01|      Mars|    false|F/3/P|  55 Cancri e|27.0|false|     1286.0|    122.0|        NULL|   0.0|   0.0|       Flats Eccle|      false|
|    0015_01|     Earth|    false|F/4/P|  55 Cancri e|24.0|false|        0.0|      1.0|         0.0|   0.0| 637.0|   Carry Hughriend|      false|
|    0016_01|      Mars|     true|F/5/P|  TRAPPIST-1e|45.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|        Alus Upead|       true|
|    0017_01|     Earth|    false|G/0/P|  TRAPPIST-1e| 0.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|     Lyde Brighttt|       true|
+-----------+----------+---------+-----+-------------+----+-----+-----------+---------+------------+------+------+------------------+-----------+
only showing top 20 rows

+-------+-----------+----------+-----+-----------+------------------+-----------------+------------------+------------------+------------------+------------------+----------------+
|summary|PassengerId|HomePlanet|Cabin|Destination|               Age|      RoomService|         FoodCourt|      ShoppingMall|               Spa|            VRDeck|            Name|
+-------+-----------+----------+-----+-----------+------------------+-----------------+------------------+------------------+------------------+------------------+----------------+
|  count|       8693|      8492| 8494|       8511|              8514|             8512|              8510|              8485|              8510|              8505|            8493|
|   mean|       NULL|      NULL| NULL|       NULL| 28.82793046746535| 224.687617481203|458.07720329024676|173.72916912197996| 311.1387779083431| 304.8547912992357|            NULL|
| stddev|       NULL|      NULL| NULL|       NULL|14.489021423908754|666.7176629280646|1611.4892403550716| 604.6964584708244|1136.7055348344063|1145.7171888056605|            NULL|
|    min|    0001_01|     Earth|A/0/P|55 Cancri e|               0.0|              0.0|               0.0|               0.0|               0.0|               0.0|      Aard Curle|
|    max|    9280_02|      Mars|T/3/P|TRAPPIST-1e|              79.0|          14327.0|           29813.0|           23492.0|           22408.0|           24133.0|Zubeneb Pasharne|
+-------+-----------+----------+-----+-----------+------------------+-----------------+------------------+------------------+------------------+------------------+----------------+

Number of unique values in PassengerId: 8693
Number of unique values in HomePlanet: 3
Number of unique values in CryoSleep: 2
Number of unique values in Cabin: 6560
Number of unique values in Destination: 3
Number of unique values in Age: 80
Number of unique values in VIP: 2
Number of unique values in RoomService: 1273
Number of unique values in FoodCourt: 1507
Number of unique values in ShoppingMall: 1115
Number of unique values in Spa: 1327
Number of unique values in VRDeck: 1306
Number of unique values in Name: 8473
Number of unique values in Transported: 2

Dropping Useless Features

In [238]:
train_df = train_df.drop(*["Name"])

Eliminating all null values as they seem to be a small proportion (less than 4%)

In [239]:
train_df = train_df.na.drop()

In [240]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import countDistinct

train_df.show()

train_df.describe().show()

# Count unique values for each column
for column in train_df.columns:
    unique_count = train_df.agg(countDistinct(column).alias(column)).collect()[0][column]
    print(f"Number of unique values in {column}: {unique_count}")

+-----------+----------+---------+-----+-------------+----+-----+-----------+---------+------------+------+------+-----------+
|PassengerId|HomePlanet|CryoSleep|Cabin|  Destination| Age|  VIP|RoomService|FoodCourt|ShoppingMall|   Spa|VRDeck|Transported|
+-----------+----------+---------+-----+-------------+----+-----+-----------+---------+------------+------+------+-----------+
|    0001_01|    Europa|    false|B/0/P|  TRAPPIST-1e|39.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|      false|
|    0002_01|     Earth|    false|F/0/S|  TRAPPIST-1e|24.0|false|      109.0|      9.0|        25.0| 549.0|  44.0|       true|
|    0003_01|    Europa|    false|A/0/S|  TRAPPIST-1e|58.0| true|       43.0|   3576.0|         0.0|6715.0|  49.0|      false|
|    0003_02|    Europa|    false|A/0/S|  TRAPPIST-1e|33.0|false|        0.0|   1283.0|       371.0|3329.0| 193.0|      false|
|    0004_01|     Earth|    false|F/1/S|  TRAPPIST-1e|16.0|false|      303.0|     70.0|       151.0| 565.0|   2.0|       true|
|    0005_01|     Earth|    false|F/0/P|PSO J318.5-22|44.0|false|        0.0|    483.0|         0.0| 291.0|   0.0|       true|
|    0006_01|     Earth|    false|F/2/S|  TRAPPIST-1e|26.0|false|       42.0|   1539.0|         3.0|   0.0|   0.0|       true|
|    0007_01|     Earth|    false|F/3/S|  TRAPPIST-1e|35.0|false|        0.0|    785.0|        17.0| 216.0|   0.0|       true|
|    0008_01|    Europa|     true|B/1/P|  55 Cancri e|14.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|       true|
|    0008_03|    Europa|    false|B/1/P|  55 Cancri e|45.0|false|       39.0|   7295.0|       589.0| 110.0| 124.0|       true|
|    0009_01|      Mars|    false|F/1/P|  TRAPPIST-1e|32.0|false|       73.0|      0.0|      1123.0|   0.0| 113.0|       true|
|    0010_01|     Earth|    false|G/1/S|  TRAPPIST-1e|48.0|false|      719.0|      1.0|        65.0|   0.0|  24.0|      false|
|    0011_01|     Earth|    false|F/2/P|  TRAPPIST-1e|28.0|false|        8.0|    974.0|        12.0|   2.0|   7.0|       true|
|    0015_01|     Earth|    false|F/4/P|  55 Cancri e|24.0|false|        0.0|      1.0|         0.0|   0.0| 637.0|      false|
|    0016_01|      Mars|     true|F/5/P|  TRAPPIST-1e|45.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|       true|
|    0017_01|     Earth|    false|G/0/P|  TRAPPIST-1e| 0.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|       true|
|    0017_02|     Earth|    false|F/6/P|  55 Cancri e|14.0|false|      412.0|      0.0|         1.0|   0.0| 679.0|      false|
|    0020_01|     Earth|     true|E/0/S|  TRAPPIST-1e| 1.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|      false|
|    0020_02|     Earth|     true|E/0/S|  55 Cancri e|49.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|      false|
|    0020_04|     Earth|    false|E/0/S|  TRAPPIST-1e|10.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|       true|
+-----------+----------+---------+-----+-------------+----+-----+-----------+---------+------------+------+------+-----------+
only showing top 20 rows

+-------+-----------+----------+-----+-----------+-----------------+------------------+------------------+------------------+------------------+-----------------+
|summary|PassengerId|HomePlanet|Cabin|Destination|              Age|       RoomService|         FoodCourt|      ShoppingMall|               Spa|           VRDeck|
+-------+-----------+----------+-----+-----------+-----------------+------------------+------------------+------------------+------------------+-----------------+
|  count|       6764|      6764| 6764|       6764|             6764|              6764|              6764|              6764|              6764|             6764|
|   mean|       NULL|      NULL| NULL|       NULL|28.89739798935541|224.41558249556476|479.73625073920755|180.49571259609698|  313.856298048492|304.5659373151981|
| stddev|       NULL|      NULL| NULL|       NULL|14.52956315793236| 648.0563605113159|1676.9221376983799|  638.032157257348|1138.9894709705486|1126.895654703258|
|    min|    0001_01|     Earth|A/0/P|55 Cancri e|              0.0|               0.0|               0.0|               0.0|               0.0|              0.0|
|    max|    9280_02|      Mars|T/3/P|TRAPPIST-1e|             79.0|            9920.0|           29813.0|           23492.0|           22408.0|          20336.0|
+-------+-----------+----------+-----+-----------+-----------------+------------------+------------------+------------------+------------------+-----------------+

Number of unique values in PassengerId: 6764
Number of unique values in HomePlanet: 3
Number of unique values in CryoSleep: 2
Number of unique values in Cabin: 5413
Number of unique values in Destination: 3
Number of unique values in Age: 80
Number of unique values in VIP: 2
Number of unique values in RoomService: 1112
Number of unique values in FoodCourt: 1318
Number of unique values in ShoppingMall: 1000
Number of unique values in Spa: 1162
Number of unique values in VRDeck: 1125
Number of unique values in Transported: 2

Splitting up Cabin into distinct categories

In [241]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import ArrayType, StringType
from pyspark.sql.types import IntegerType
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCol, HasOutputCol
from pyspark.sql.functions import split

class SplitFeature(Transformer, HasInputCol, HasOutputCol):
    def __init__(self, inputCol=None, outputCol=None, delimiter="/"):
        super(SplitFeature, self).__init__()
        self._setDefault(inputCol=inputCol, outputCol=outputCol)
        self.delimiter = delimiter

    def _transform(self, dataset):
        splits = split(col(self.getInputCol()), self.delimiter)
        return dataset \
            .withColumn(self.getOutputCol() + '_Deck', splits.getItem(0)) \
            .withColumn(self.getOutputCol() + '_Num', splits.getItem(1)) \
            .withColumn(self.getOutputCol() + '_Side', splits.getItem(2)) \
            .drop(self.getInputCol())

In [242]:
# from pyspark.ml import Pipeline

# splitFeature = SplitFeature(inputCol="Cabin", outputCol="Cabin", delimiter="/")

# pipeline = Pipeline(stages=[splitFeature])
# train_df = pipeline.fit(train_df).transform(train_df)
# train_df.show()

Casting Target Variable into Int

In [243]:
from pyspark.sql.functions import col

train_df = train_df.withColumn("Transported", col("Transported").cast("integer"))

Creating the model

In [244]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml import Pipeline


# Feature Types
categorical_features = ['HomePlanet', 'Destination', 'Cabin']
numerical_features = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
boolean_features = ['CryoSleep', 'VIP']

# Defining Assembler
# splitFeature = SplitFeature(inputCol="Cabin", outputCol="Cabin", delimiter="/")

# Assembler Steps
indexers = [StringIndexer(inputCol=column, outputCol=column + "_index", handleInvalid="keep") for column in categorical_features]
encoders = [OneHotEncoder(inputCols=[column + "_index"], outputCols=[column + "_vec"]) for column in categorical_features]

assembler = VectorAssembler(
    inputCols=[col + "_vec" for col in categorical_features] + numerical_features + boolean_features,
    outputCol="features",
    handleInvalid="keep")

# Initialize the logistic regression model with the correct label column
rf = RandomForestClassifier(featuresCol="features", labelCol="Transported") 

# Combine all stages into a pipeline
pipeline = Pipeline(stages=indexers + encoders + [assembler, rf])

# Fit the pipeline on the training data
model = pipeline.fit(train_df)

Make Predictions

In [245]:
# test_df = test_df.na.drop()

# Make predictions on the test data
predictions = model.transform(test_df)

predictions = predictions.withColumnRenamed("prediction", "Transported")

# Show some prediction results
predictions.select("PassengerId", "Transported").show()

+-----------+-----------+
|PassengerId|Transported|
+-----------+-----------+
|    0013_01|        1.0|
|    0018_01|        0.0|
|    0019_01|        1.0|
|    0021_01|        0.0|
|    0023_01|        0.0|
|    0027_01|        0.0|
|    0029_01|        1.0|
|    0032_01|        1.0|
|    0032_02|        1.0|
|    0033_01|        0.0|
|    0037_01|        0.0|
|    0040_01|        0.0|
|    0040_02|        0.0|
|    0042_01|        1.0|
|    0046_01|        0.0|
|    0046_02|        0.0|
|    0046_03|        0.0|
|    0047_01|        1.0|
|    0047_02|        0.0|
|    0047_03|        0.0|
+-----------+-----------+
only showing top 20 rows

Create CSV

In [246]:
from pyspark.sql.functions import when

# Assuming 'Transported' is currently a numeric column where 1 represents 'true' and 0 represents 'false'
predictions = predictions.withColumn("Transported", when(predictions["Transported"] == 1, True).otherwise(False))

In [247]:
create_csv("spaceship-titanic", predictions, cols=["PassengerId", "Transported"])